*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
    gap: 100px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
   

}
.navbar__sec1 h1{
    color: rgb(216, 31, 216);
}
.navbar__sec2{
    padding: 10px;
    
    border-radius: 20px;
    border:  solid black 1px;
    width:  60%;
    display: flex;
    gap: 10px;
    align-items: center;

}

.mylearning{
    position: relative;
    cursor: pointer;

}
.mylearning__popup{
    position: absolute;
    background-color: white;
    width: 100px;
    padding: 10px;
    top: 80px;
    border: solid black 1px;
    right: 0;
    display: none;
    
}

/*  my learning il touch cheythal pop up work avum */
.mylearning:hover .mylearning__popup{
    display: block;
}
.navbar__sec2 input{
    border: none;
    width: 100%;
    font-size: 16px;
    background: none;
    
  
}

.navbar__sec2 input:focus{
    outline: none;
}
.navbar__sec3{
    display: flex;
    gap: 15px;
    align-items: center;
}
.category {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
   
}
.category p{
 border-radius: 50px;
 background-color:rgb(205, 32, 205);
 padding: 10px;
 color: white;
 margin-bottom: 10px;
  border: solid  rgb(205, 32, 205)  1px;
 cursor: pointer;
}
.category p:hover{
    transition: 1s;
 background-color:transparent;
 border: solid  rgb(205, 32, 205)  1px;
 color: black;
}

.saleimg{
     position: relative;
}

.sale__offerbox{
    position: absolute;
    border: solid black 2px;
    top: 10%;
    left: 10%;
    background-color: white;
    padding: 10px;
    margin: 10px;
    width: 25%;
 animation-name: zoom;
   animation-duration: 2s;
   opacity: 0;
   animation-fill-mode: forwards;

}
@keyframes zoom {
    

    0%{
       transform: scale(0);
        opacity: 0;
    }
    
    100%{
        transform: scale(1);
        opacity: 1;
    }
    
}
.Recommeneted{
    padding: 10px;
  
}

.Recommeneted--container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
    
       
}
.recommented__card  {
      flex-grow:1 ;
   flex-basis: 20%;
   margin: 5px;
}
.recommented__card img{
    width: 100%;
   height: 60%;
}

.topics{
    padding: 10px;
}
.topics--container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
   margin-top: 10px;

    
}
.topics--container p{
    padding: 20px;
    border: solid gray;
      flex-grow: 1;
  flex-basis: 25%;
 
}
.Popular{
    padding: 10px;
  
}

.Popular--container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
     
    
       
}
.Popular__card  {
     flex-grow:1 ;
   flex-basis: 20%;
   margin: 5px;
}
.Popular__card img{
    width: 100%;
   height: 60%;
}


.footer{
    background-color: black;
    color: white;
    padding: 20px;
    margin: 10px;
   
   
}
.footer--sec1{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}
.foot{
    display: flex;
    justify-content: space-between;
     width: 100%; 
}

@media screen and (max-width :800px){
    body{
        font-size: 10px;
    }
    
}


@media screen and (max-width :600px){
  
.recommented__card  {
     flex-basis: 40%;
}


.Popular__card  {
     
   flex-basis: 40%;
  
}
.topics--container p{
    flex-basis: 20%;
}

.category{
    display: none;
}
.navbar__sec2 ,.navbar__sec3{
    display: none;
}
}
@media screen and (min-width :600px){

.navbar__sec4{

    display: none;
}}